{{block header(tr)}}
<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="/static/css/pico-2.0.6.min.css">
		<link rel="stylesheet" href="/static/css/inventshare.css">
		<script src="/static/js/htmx.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<nav class="container">
			<ul>
				<li><strong>inventshare</strong></li>
			</ul>
			<ul>
				<li><a href="/adhoc">{{.tr ("adhocRental")}}</a></li>
				<li><a href="/org">{{.tr: "nav.orgs"}}</a></li>
			</ul>
		</nav>
		<main class="container">
{{end}}

{{block footer()}}
		</main>
	</body>
</html>
{{end}}
