{{block DeletionModal(target)}}
<dialog id="confirm-deletion">
	<article>
		<header>
			<a href="#close" aria-label="Close" class="close"></a>
			{{.tr: "base.delete.header"}}
		</header>
		{{.tr: "base.delete.confirm"}}
		<footer>
			<form action="{{target}}" method="POST" class="grid">
				{{ yield content }}
				<a href="#close" role="button">{{.tr: "button.cancel"}}</a>
				<button role="button" class="danger">{{.tr: "button.delete"}}</button>
			</form>
		</footer>
	</article>
</dialog>
{{end}}
