{{define "index"}}
	{{template "Header" .}}

	<a href="/adhoc/new" role="button">{{call .tr "project.button.new"}}</a>
	{{range .Projects}}
		<a href="/adhoc/{{ .ID }}">
			<article>
				<h2>{{ .Name }}</h2>
				<div class="grid">
					<span>
						<small>{{call $.tr "project.startdate"}}: {{ call $.tr "timeFormat" | .Startdate.Format }}</small><br/>
						<small>{{call $.tr "project.enddate"}}: {{ call $.tr "timeFormat" | .Enddate.Format }}</small>
					</span>
					<form action="/adhoc/{{ .ID }}/lend" method="GET">
						<input type="submit" value="{{call $.tr "adhoc.button.lendNewItem"}}">
					</form>
				</div>
			</article>
		</a>
	{{end}}

	{{template "Footer" .}}
{{end}}
