{{define "itemPrepare"}}
	{{template "Header" .}}
	<form action="" method="POST">

		{{template "FormItemNew" .}}

		<button type="submit">{{call .tr "button.done"}}</button>
	</form>
	{{template "Footer" .}}
{{end}}

{{define "itemLendUser"}}
	{{template "Header" .}}
	<form action="" method="POST" enctype="multipart/form-data">
		<label for="name">{{call .tr "adhoc.form.name"}}:</label>
		<input name="name" id="name" required><br/>

		<label for="address">{{call .tr "adhoc.form.address"}}</label>
		<textarea name="address" id="labels"></textarea><br/>

		<label for="contact">{{call .tr "adhoc.form.contact"}}</label>
		<input name="contact" id="contact"><br/>

		<label for="idcard">{{call .tr "adhoc.form.idcard"}}</label>
		<input type="file" name="idcard" id="idcard" accept="image/*" capture="environment"><br/>

		<button type="submit">{{call .tr "button.done"}}</button>
	</form>
{{end}}

{{define "itemViewRental"}}
	{{template "Header" .}}
	{{with .Item}}
		{{.Cid}}:
		{{range .Labels}}
			{{.Name}}
		{{end}}
	{{end}}
	<hr/>
	{{with .Rental.AdhocCustomer}}
		{{ .Name }}<br/>
		{{ .Address }}<br/>
		{{ .Contact }}<br/>
		{{with .IdCard}}
			<img src="/data/attachment/{{ .ID }}-{{ .FileKey}}-{{ .Filename }}">
		{{end}}
	{{end}}
	{{template "Footer" .}}
{{end}}
