{{define "projectIndex"}}
	{{template "Header" .}}

	<article style="margin-top: 0px;"><h1>{{ .Project.Name }}</h1>
		<div class="grid">
			<span>
				<small>{{call .tr "project.startdate"}}: {{ call .tr "timeFormat" | .Project.Startdate.Format }}</small><br/>
				<small>{{call .tr "project.enddate"}}: {{ call .tr "timeFormat" | .Project.Enddate.Format }}</small>
			</span>
			<a href="/adhoc/{{ .Project.ID }}/lend" role="button">{{call .tr "adhoc.button.lendNewItem"}}</a>
		</div>
	</article>

	<details open><summary role="button">{{call .tr "adhoc.button.availableItems"}}</summary>
		{{call .tr "adhoc.availableItemsDescription"}}<br/>
		<a href="/adhoc/{{ .Project.ID }}/prepare" role="button">{{call .tr "adhoc.button.prepareNewItem"}}</a>

		{{if .Project.ItemsAvailable}}
			<table>
				<tr>
					<th></th>
					<th>{{call .tr "item.table.cid"}}</th>
					<th>{{call .tr "item.table.labels"}}</th>
				</tr>
				{{range .Project.ItemsAvailable }}
					<tr>
						<td><a href="/adhoc/{{ $.Project.ID }}/lend/{{ .ID }}">{{call $.tr "adhoc.button.lend"}}</a></td>
						<td>{{ .Cid }}</td>
						<td>
						{{range .Labels }}
							<a href="?label_id={{ .ID }}">{{ .Name }}</a>
						{{end}}
						</td>
					</tr>
				{{end}}
			</table>
		{{else}}
			{{call .tr "adhoc.noAvailableItems"}}
		{{end}}
	</details>
	
	<details><summary role="button">{{call .tr "adhoc.button.lentItems"}}</summary>
		{{call .tr "adhoc.lentItemsDescription"}}
		{{if .Project.ItemsLent}}
			<table>
				<tr>
					<th></th>
					<th></th>
					<th>{{call .tr "item.table.cid"}}</th>
					<th>{{call .tr "item.table.labels"}}</th>
				</tr>
				{{range .Project.ItemsLent }}
					<tr>
						<td><details><summary role="button" class="secondary">{{call $.tr "adhoc.button.return"}}</summary>
							<dialog open>
								<article>
									{{call $.tr "adhoc.returnConfirm"}}
									<footer>
										<form action="/adhoc/{{ $.Project.ID }}/return/{{ .ID }}" method="POST">
											<input type="submit" value="{{call $.tr "button.confirm" }}">
										</form>
									</footer>
								</article>
							</dialog>
						</details></a></td>
						<td>
							<a href="/adhoc/{{ $.Project.ID }}/view/{{ .ID }}">{{call $.tr "adhoc.button.view"}}</a>
						</td>
						<td>{{ .Cid }}</td>
						<td>
						{{range .Labels }}
							<a href="?label_id={{ .ID }}">{{ .Name }}</a>
						{{end}}
						</td>
					</tr>
				{{end}}
			</table>
		{{else}}
			{{call .tr "adhoc.noLentItems"}}
		{{end}}
	</details>

	{{template "Footer"}}
{{end}}

{{define "projectNew"}}
	{{template "Header" .}}
	{{template "FormProjectNew" .}}
	{{template "Footer" .}}
{{end}}

{{define "projectLend"}}
	{{template "Header" .}}
	{{template "FormProjectNew" .}}
	{{template "Footer" .}}
{{end}}
