<select name="location" id="location" required>
	{{if !isset(.SelectedLocation)}}
		<option value="" disabled selected>{{.tr: "item.form.pleaseSelect"}}</option>
	{{end}}
	{{range _, location := .AvailableLocations}}
		<option value="{{ location.ID }}" {{if isset(.SelectedLocation) && location.ID == .SelectedLocation}}selected{{end}}>{{ location.Name }}</option>
	{{end}}
</select>
{{if isset(.CreatedLocation)}}
	<small>{{.tr: "location.form.successMessage"}}</small>
{{end}}
