{{block OrgDropdown(orgs = .Orgs, selectedOrg = .SelectedOrg)}}
<select name="org" id="org">
	{{if isset(selectedOrg)}}
		<option value="{{ selectedOrg.ID }}" selected>{{ selectedOrg.Name }}</option>
	{{else}}
		<option value="" disabled selected>{{.tr: "base.form.pleaseSelect"}}</option>
	{{end}}
	{{range _, org := orgs }}
		{{if !(isset(selectedOrg) && org.ID == selectedOrg.ID)}}
			<option value="{{ org.ID }}">{{ org.Name }}</option>
		{{end}}
	{{end}}
</select>
{{end}}
{{if isset(.SuccessMessage)}}
	<small>{{.tr: "org.form.successMessage"}}</small>
{{end}}
