/*
 * SPDX-FileCopyrightText: 2023 eventbike_zero Team (Verein zur Förderung innovativer Wohn- und Lebensformen e.V.) <team@eventbikezero.de>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

tr:nth-child(2n) {
	background: #A7A7A709;
}
/* show dialogs if their id is visited by the browser, e.g. #modal */
dialog:target {
	display: flex;
}
dialog article {
	min-width: 50%;
}

/* red buttons dangerous buttons and deletion modals */
a[href="#confirm-deletion"], dialog button.danger {
	--pico-background-color: #9B2318;
	--pico-border-color: #9B2318;
	--pico-primary-hover-background: #af291d;
	--pico-primary-hover-border: #af291d;
}

/* hide link decoration when not used inside text */
a:has(article), table a {
	text-decoration: none;
}

/* tabbed navigation */
.tabs li {
	border-bottom: 0.1rem solid var(--pico-secondary); flex-shrink: 1; height: 100%; border-radius: 0; padding: 0.3rem 0.5rem;
}
.tabs .active {
	border: 0.1rem solid var(--pico-secondary); border-bottom: 0.1rem solid #0000; border-radius: 5px 5px 0 0;
}
.tabs ul {
	width: 100%;
}
.tabs li:last-of-type {
	flex-grow: 2;
}

/* labels display */
.labels a {
	border-radius: 0.2em;
	padding: 0.3em;
	display: inline-block;
	margin: 0.1em auto;
	text-decoration: none;
}
.labels.l-active a {
	background-color: var(--pico-primary-background);
	color: var(--pico-primary-inverse);
}
.labels.l-hidden a {
	background-color: var(--pico-secondary-background);
	color: var(--pico-secondary-inverse);
}

/* Margin fixes for button-style a elements,
 * else they shift into elements below */
a[role="button"], button {
	margin: var(--pico-spacing) 0;
}
