{{import "/partials/base.jet.html"}}
{{import "/partials/DeletionModal.jet.html"}}
{{import "../shared.jet.html"}}

{{yield header(.tr)}}
{{yield orgNavTabs(active="locations", org=.Org)}}
{{yield LocationBreadcrumb(location = .Location) content}}
	{{if .Location.Name}}
		<li><a href="{{.Location.Path()}}">{{.Location.Name}}</a></li>
		<li>{{.tr: "nav.locationSettings"}}</li>
	{{else}}
		<li>{{.tr: "nav.newLocation" }}</li>
	{{end}}
	</li>
{{end}}
<form action="" method="POST">
	{{block LocationForm(location = .Location)}}
		<label for="name">{{.tr: "location.form.name"}}:</label>
		<input name="name" id="name" value="{{location.Name}}" required><br/>

		<label for="person">{{.tr: "location.form.person"}}:</label>
		<input name="person" id="person" value="{{location.Person}}" required><br/>

		<label for="comment">{{.tr: "location.form.comment"}}:</label>
		<textarea name="comment" id="comment" required>{{location.Comment}}</textarea><br/>
	{{end}}
	<div class="grid">
		<button type="submit">{{.tr: "button.done"}}</button>
		<a href="#confirm-deletion" role="button">🗑️ {{.tr: "button.delete"}}</a>
	</div>
</form>

{{if .Location.ID}}
	{{yield DeletionModal(target=.Location.Path() + "/delete") content}}
		<input type="hidden" name="locationID" value="{{.Location.ID}}">
	{{end}}
{{end}}
{{yield footer()}}
