{{import "../../partials/base.jet.html"}}
{{import "../shared.jet.html"}}
{{yield header(.tr)}}
{{yield orgNavTabs(active="locations", org=.Org)}}
<a href="{{.Org.Path()}}/location/new" role="button">{{.tr: "nav.newLocation"}}</a>
	{{range id, location := .Locations}}
		<a href="{{location.Path()}}">
			<article>
				<h2>{{location.Name}}</h2>
				{{location.Comment}}
			</article>
		</a>
	{{else}}
		<article>
			{{.tr: "location.noAvailable"}}<br>
			<small>{{.tr: "location.noAvailableHelp"}}</small>
		</article>
	{{end}}
{{yield footer()}}
