{{import "../../partials/base.jet.html"}}
{{import "../shared.jet.html"}}
{{yield header(.tr)}}
{{yield orgNavTabs(active="locations", org=.Org)}}
<nav aria-label="breadcrumb">
	<ul>
		<li><a href="{{.Org.Path()}}/locations">{{.tr: "nav.locations"}}</a></li>
		<li>{{ .Location.Name }}</li>
	</ul>
</nav>
<div role="group">
	<a href="{{.Location.Path()}}/settings" role="button">⚙️ {{.tr: "nav.settings"}}</a>
</div>
<small>
	{{ .Location.Comment }}<br/>
	{{if .Location.Person != ""}}<b>{{.tr: "location.form.person"}}: </b>{{.Location.Person}}{{end}}
</small>

<table>
	<tr>
		<th>{{.tr: "item.table.cid"}}</th>
		<th>{{.tr: "item.table.labels"}}</th>
		<th>{{.tr: "item.table.comment"}}</th>
	</tr>
	{{.RenderItems(.Items, .tr, "cid", "labels", "comment") | raw}}
</table>
{{yield footer()}}
