{{import "../base.jet.html"}}
{{yield header(.tr)}}
<h1>{{.tr: "error"}}</h1>

<article>
	{{.tr: "errorDescription1"}}<br/>
	<mark>{{.tr: "errorCode"}}: <b>{{ .errHash}}</b></mark><br/>
	{{.tr: "errorDescription2"}} <a href="mailto:inventshare@eventbikezero.de">inventshare@eventbikezero.de</a>.<br/>
	{{.tr: "errorDescription3"}}
</article>
{{yield footer()}}
