{* This file tries to recover from errors during template executions
 * which should never happen, but who knows ... *}
"></main>
<main>
	<dialog open>
		<article>
			<header>
				Fatal Error
			</header>
			<p>
				Please contact <a href="mailto:inventshare@eventbikezero.de">inventshare@eventbikezero.de</a> and report this problem to us!
				Explain what you did, and eventual oddness you might have observed.<br>
				This kind of problem should never happen and determines a serious failure in our app.
				Thank you for helping us improve the software.
			</p>
		</article>
	</dialog>
</main>
