{{import "../partials/DeletionModal.jet.html"}}
{{import "../org/location/form.jet.html"}}

{{block ItemForm(action, edit = false)}}
	<form action="{{action}}" method="POST">
		{* work around; considering to move routers for the items as well *}
		<input type="hidden" name="orgID" value="{{.Item.Org.ID}}">
		<label for="cid">{{.tr: "item.form.cid"}}:</label>
		<input name="cid" id="cid" value="{{.Item.Cid}}" required><br/>

		<label for="labels">{{.tr: "item.form.labels"}}:</label>
		<textarea name="labels" id="labels" required>{{.Item.LabelString()}}</textarea><br/>

		<a href="#newlocation" style="float: right;">({{.tr: "button.createNew"}})</a>
		<label for="location">{{.tr: "item.form.location"}}:</label>

		<div id="location-wrapper">
			{{.SelectedLocation = .Item.LocationID}}
			{{include "../../partials/select/location.jet.html"}}
		</div>

		<label for="comment">{{.tr: "item.form.comment"}}:</label>
		<textarea name="comment" id="comment">{{.Item.Comment}}</textarea><br/>

		<div class="grid">
			{{if .Item.ID != 0}}
				<a role="button" href="{{.Item.Org.Path()}}/duplicate/{{.Item.ID}}">{{.tr: "button.duplicate"}}</a>
				<a href="#confirm-deletion" role="button">🗑️ {{.tr: "button.delete"}}</a>
			{{end}}
			<button type="submit">{{.tr: "button.save"}}</button>
		</div>
	</form>

	{{if .Item.ID != 0}}
		{{yield DeletionModal(target=.AppPath + "item/delete") content}}
			<input type="hidden" name="itemID" value="{{.Item.ID}}">
		{{end}}
	{{end}}

	<dialog id="newlocation">
		<article>
			<header>
				<a href="#close" aria-label="Close" class="close"></a>
				{{.tr: "nav.newLocation"}}
			</header>
			<form>
				{{yield LocationForm(location=.empty("location"))}}
				<footer>
					<a href="#close" role="button" hx-post="{{.Item.Org.Path()}}/location/htmx/newPost" hx-target="#location-wrapper">{{.tr: "button.done"}}</a>
				</footer>
			</form>
		</article>
	</dialog>
{{end}}
