{{import "../partials/base.jet.html"}}
{{import "shared.jet.html"}}
{{import "../partials/DeletionModal.jet.html"}}

{{yield header(.tr)}}
{{yield orgNavTabs(active="summary", org=.Org)}}

<h2>{{.tr: "nav.orgSettings"}}</h2>
<form action="" method="POST">
	{{yield OrgForm(org=.Org)}}
	<div class="grid">
		<button type="submit">{{.tr: "button.done"}}</button>
		<a href="#confirm-deletion" role="button">🗑️ {{.tr: "button.delete"}}</a>
	</div>
</form>

{{yield DeletionModal(target=.AppPath + "org/delete") content}}
	<input type="hidden" name="orgID" value="{{.Org.ID}}">
{{end}}

{{yield footer()}}
