{{import "../partials/base.jet.html"}}
{{yield header(.tr)}}
<a href="/org/new" role="button">{{.tr: "org.button.new"}}</a>
{{range .Orgs}}
	<a href="{{.Path()}}">
		<article>
			<h2>{{ .Name }}</h2>
			{{ .Description }}
		</article>
	</a>
{{else}}
	<article>
		{{.tr: "org.noAvailableOrgs"}}
	</article>
{{end}}
{{yield footer()}}
