{{import "../partials/base.jet.html"}}
{{import "./shared.jet.html"}}
{{yield header(.tr)}}
{{yield orgNavTabs(active="items", org=.Org)}}

<nav class="action-buttons">
	<a href="{{.Org.Path()}}/new" role="button">+ {{.tr: "item.button.new"}}</a>
</nav>

<table>
	<tr>
		<th>{{.tr: "item.table.cid"}}</th>
		<th>{{.tr: "item.table.labels"}}</th>
		<th>{{.tr: "item.table.location"}}</th>
		<th>{{.tr: "item.table.comment"}}</th>
	</tr>
	{{.RenderItems(.Items, .tr, "cid", "labels", "location", "comment") | raw}}
</table>
{{yield footer()}}
