{{import "../partials/base.jet.html"}}
{{import "shared.jet.html"}}

{{yield header(.tr)}}
<form action="" method="POST">
	{{yield OrgForm(org=.Org)}}
	<button type="submit">{{.tr: "button.done"}}</button>
</form>
{{yield footer()}}
