{{block orgNavTabs(active, org)}}
<h1>{{org.Name}}</h1>
<nav class="tabs">
	<ul>
		<li {{if active == "summary" }}class="active"{{end}}><a href="{{org.Path()}}">{{.tr: "nav.summary"}}</a></li>
		<li {{if active == "items"}}class="active"{{end}}><a href="{{org.Path()}}/items">{{.tr: "nav.items"}}</a></li>
		<li {{if active == "locations"}}class="active"{{end}}><a href="{{org.Path()}}/locations" >{{.tr: "nav.locations"}}</a></li>
		<li></li>
	</ul>
</nav>
{{end}}

{{block OrgBreadcrumb(org)}}
	<nav aria-label="breadcrumb">
		<ul>
			<li><a href="{{org.Path()}}">{{org.Name}}</a></li>
			{{yield content}}
		</ul>
	</nav>
{{end}}

{{block LocationBreadcrumb(location)}}
	{{yield OrgBreadcrumb(org = location.Org) content}}
		<li><a href="{{location.Org.Path()}}/locations">{{.tr: "nav.locations"}}</a></li>
		{{yield content}}
	{{end}}
{{end}}}

{{block OrgForm(org)}}
	<label for="name">{{.tr: "origin.form.name"}}:</label>
	<input name="name" id="name" value="{{org.Name}}" required><br/>

	<label for="description">{{.tr: "origin.form.description"}}:</label>
	<textarea name="description" id="description">{{org.Description}}</textarea><br/>
{{end}}
