{{import "../partials/base.jet.html"}}
{{import "./shared.jet.html"}}

{{yield header(.tr)}}
{{yield orgNavTabs(active="summary", org=.Org)}}
<div class="grid">
	<article>
		<h2>{{.Org.Name}}</h2>{{.Org.Description}}
		<footer>
			<a href="{{.Org.Path()}}/settings" role="button">⚙️ {{.tr: "nav.settings"}}</a>
		</footer>
	</article>
	<article>
		<table>
			<tr><td><a href="{{.Org.Path()}}/items">{{.tr: "nav.items"}}</a>:</td><td>{{.Stats.Items}}</td></tr>
			<tr><td><a href="{{.Org.Path()}}/locations">{{.tr: "nav.locations"}}</a>:</td><td>{{.Stats.Locations}}</td></tr>
		</table>
	</article>
</div>

{{yield footer()}}
